
{% block titulo %}
Listado de Albumes
{% endblock titulo %}

{% block body %}

{% if album %}
    <table>
        <thead>
             <tr>
                <th>#</th>
                <th>Título</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            {% for album in albumes %}
                <tr>
                    <td>{{ album.id }}</td>
                    <td>{{ album.titulo }}</td>
                    <td>{{ album.fecha_publicacion }}</td>
                    <td>
                    <a href="{% url 'editar_album' album.id %}">Editar</a>
                    <a href="{% url 'eliminar_album' album.id %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h1>No existen albumes registrados</h1>
{% endif %}

{% endblock body %}