
{% block titulo %}
Listado de Autores
{% endblock titulo %}

{% block body %}

{% if artistas %}
    <table>
        <thead>
             <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
        </thead>
        <tbody>
            {% for artista in artistas %}
                <tr>
                    <td>{{ artista.id }}</td>
                    <td>{{ artista.nombre }}</td>
                    <td>{{ artista.apellido }}</td>
                    <td>
                    <a href="{% url 'editar_artista' artista.id %}">Editar</a>
                    <a href="{% url 'eliminar_artista' artista.id %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h1>No existen artistas registrados</h1>
{% endif %}

{% endblock body %}